{% extends "base.html" %} {% block title %}{{ form.title }}{% endblock title %}
{% block content %}
<div class="col-11">
  
  <div class="card w-100">
    <div id="countdown" class="text-center"></div>
    <div class="card-body text-center">
      <h5 class="card-title">{{ question.display_text }}</h5>
      <small id="question-id" hidden>{{ question.pk }}</small>
      <small id="form-id" hidden>{{ form.pk }}</small>

      <p class="card-text">Pick an option:</p>

      <ul class="list-group list-group-flush">
        {% for question in form_questions %}
        <li class="list-group-item">
          <a
            href="{% url 'quiz:answer_form_question' form.id question.id %}"
            class="card-link"
            >{{ forloop.counter }}. {{ question.display_text }}</a
          >
        </li>
        {% endfor %}
      </ul>
      
      <div class="row align-items-center">
        {% for option in question.options.all %}
        <div class="col-sm-3 col-sm-6 form-group">
          <button
            type="button"
            name="{{ option.value }}"
            id="{{ option.pk }}"
            class="btn btn-outline-primary btn-lg btn-option btn-block"
            value="{{ option.value }}"
            data-correct="{{option.correct}}"
          >
            {{ option.display_text }}
          </button>
        </div>
        {% endfor %} {% csrf_token %}
      </div>
      <hr />
      <button
        id="submit-btn"
        class="btn btn-success float-right"
        disabled
        onclick="submitResponse()"
      >
        Next
      </button>
    </div>
  </div>
</div>
{% endblock content %}
