{% extends "top.html" %} {% load static %}{% block title %}Thank You!{% endblock title %}
{% block scripts %}
<script src="{% static 'thanks.js' %}" defer></script> 
    
{% endblock scripts %}
{% block content %}
<div class="card col-sm-6 mx-auto container mt-3 text-center mx-auto d-flex align-items-center justify-content-center" >

<div class="card-body text-center">
      <h5 class="card-title">Thank You for Filing the form 🚀  🚀</h5>
      
      <h5 class="card-title" id="scoreCard" score-pass="{{quiz.required_score_to_pass}}">Score: {{score}}</h6>
      <div id="progressBar">
        <div id="filled"></div>
   </div>
   <p class="card-text">Your response has been recorded</p>
   <div id="imageSpace">

   </div>
  
      
     <br>
<a href="{% url 'newquiz:first-view' quiz.pk%}"><button id="home" class="btn modal-button btn btn-success">Home</button></a>
      

 
</div>
</div>
{% endblock content %}
