{% extends "top.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'newtimer.js' %}"></script> 
    <script src="{% static 'test.js' %}" defer ></script> 
{% endblock scripts %}
{% block styles %}
<style>
.btn-option {
    max-width: 100px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>
{% endblock styles %}
{% block title %}
{{obj.name}}
{% endblock title %}

{% block content %}
<hr>
<br>
<div class="card-body text-center">
    <form id="quiz-form" class="mt-3 mb-3" pk-id="{{obj.pk}}">
        {% csrf_token %}
        <div class="col text-center" id="timer-box">-:--</div>
        <div id="progress-bar" total-questions="{{obj.number_of_questions}}"><div id="fill"></div></div>
        {% for question in page_obj %}
            <h2 class="card-title">{{question.text}}</h2>
            <p class="card-text">Pick an option:</p>
            <div class="answers row align-items-center">
                {% for answer in question.get_answers %}
                    <div class="answer col-sm-6 col-12 form-group">
                        <button
                            type="button"
                            name="{{ obj.value }}"
                            data-pk="{{ obj.pk }}"
                            id="{{ answer.pk }}"
                            class="btn btn-outline-primary btn-option btn-block"
                            value="{{ obj.value }}"
                            data-time="{{obj.time}}"
                            data-correct="{{ answer.correct }}"
                        >
                            {{answer.text}}
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div id="result-message"></div>
        <hr>
        <br>
    </form>

    <div id="result-box"></div>
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">
                    <button type="submit" class="btn btn-primary float-right" id="nextBtn">Next</button>
                </a>
            {% else %}
                <a href="{% url 'newquiz:formthanks' obj.pk%}">
                    <button type="submit" class="btn btn-primary float-right" id="nextBtn">Submit</button>
                </a>
            {% endif %}
        </span>
    </div>
    <br>
    </div>
{% endblock content %}