{% extends "top.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quiz.js' %}" defer></script> 
{% endblock scripts %}

{% block title %}
{{obj.name}}

{% endblock title %}

{% block content %}
<div class="h1">{{obj.name}}</div>
<p>score to pass: {{obj.required_score_to_pass}}%</p>
<div class="col text-center" id="timer-box"></div>



<form id="quiz-form" class="mt-3 mb-3">
    {% csrf_token %}
    <div id="quiz-box"></div>
    <hr>
    <button type="submit" class="btn btn-primary mt-3 float-right">Submit</button>
</form>
<div id="score-box"></div>
<div id="result-box"></div>
{% endblock content %}

